header {
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 3;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    z-index: 2;


}

#ButtonNav {
    font-family: Georgia, bold;
    margin-left: 0;
    height: 40px;
    border: none;
    background: #5b4331;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(59, 36, 24, 0.12);
}

#ButtonNav a {
    background: transparent;
    text-decoration: none;
    color: #fdfcfb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#ButtonNav :hover
{
  transition: transform 0.3s ease;
    
}


#nav_logo {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color-primary-6);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: var(--color-neutral-1);
    border-bottom: 3px solid var(--color-primary-4);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 
}