#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    overflow-x: clip;
    overflow-y: visible;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    position: relative;
    z-index: 3;
   
}

.title{
    position: relative;
    margin-top: 180px;
    font-size: 4rem;
    color: var(--color-neutral-1);;
}



#cta .title {
    font-size: 4rem;
     background: linear-gradient(to right, #525151,#1d1d1d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#cta .title span {
    background: linear-gradient(to right, #f8d28b, #7a6248);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#cta .description {
    font-size: 1.2rem;
     background-color: #ffffff71;
     border-radius: 5px;
     
}


.btn-default{
    color: black;
    


}

.btn-default:hover{
    transform: scale(1.1);

}
.fa-solid:hover{
     transform: scale(1.1);

}
#cta_buttons {

    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: var(--color-neutral-1);;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}
#bannerlat {
    border: 0;
    left: 0;
    padding: 0;
    margin: 0;

}
#bannerlat {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
}
#graof {
    opacity: 85%;
    position: absolute;
    left: -30px;
    width: 30%;
    z-index: -1;

}
         

#bannerlat img {
    opacity: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
}
#banner {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;

}
#cafe_orginal{
    width: 70%;
    height: auto;
    right: -50%;
    top:200px;
    position: absolute;
    z-index: 2;
}

#cafe03 {
    height: 70%;
    width: auto;
    z-index: 1;
}

.shape {
    background-color: var(--color-primary-2);
    width: 50%;
    height: 70%;
    position: absolute;
    border-radius: 40% 0% 0% 40%;
    top: 0;
    right: 0;
    z-index: 1;
}
#elementos {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

#elementos img {
    position: absolute;
    width: 200px;
    height: auto;
    opacity: 0.8;
}

#p4 {
    left: 1%;
    top: 2400px;
}

#p3 {
    right: 1%;
    top: 1780px;
    
}

#p2 {
    right: 1%;
    top: 3300px;
  
}
#p5{
    left:1%;
    top:4200px;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #home .shape {
        display: none;
    }

    #banner {
        display: none;
        width: 100%;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}